@import "tailwindcss";

:root{
  --primary: #212832;
  --focus: #F1A501;
  --secondary: #9FACBA;
}

body{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0px !important;
    padding: 0px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator, 
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;      
  cursor: pointer !important; 
}

textarea{
  resize: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.animated-content{
  /* position: relative; */
  animation: content 0.8s ease-in-out;
}

@keyframes content {
  from{
    opacity: 0;
    transform: translateY(50px)
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

